* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

button {
    border: none;
    appearance: none;
    background: none;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    width: 134px;
    height: 44px;
    background-color: #8B48BF;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.contact:hover {
    transform: skew(-15deg);
    background-color: #3CDDF3;
    transition-property: transform, background-color;
    transition-duration: 1s;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-right: 56px;
    padding-left: 56px;
    gap: 28px;
}

#icon-hamburger:hover {
    transform: scale(115%);
}

.logo-sportit:hover {
    transform: scale(115%);
    transition-property: transform;
    transition-duration: 1s;
}

#nav-top {
    display: none;
}

#nav-top a {
    color: #1E1E26;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 176.1%;
    /* 22.893px */
}

#nav-top a:hover {
    color: #B3B2B7;
}

#nav-top ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

#contact-header {
    display: none;
}

/*header*/

/* main */
/*section-1*/
#frame-33 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-right: 40px;
    padding-left: 40px;
    gap: 100px;
}

#padel-intro {
    max-width: 400px;
    max-height: 342px;
    width: 100%;
}

#frase-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    gap: 28px;
}

#frase-home h2 {
    color: #232851;
    text-align: right;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
    /* 57.3px */
    letter-spacing: -1.75px;
}

#frase-home p {
    color: #000;
    text-align: right;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16.558px;
    font-style: normal;
    font-weight: 500;
    line-height: 157.1%;
    /* 26.013px */
}

/*section-1*/

/*section-2*/
/* header */
#header-section2 {
    flex-direction: column;
    background-color: #3CDDF3;
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

#header-section2 h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
    /* 41.256px */
}

#header-section2 p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.1%;
    /* 24.176px */
}

/* header */
/* section */
#what {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 65px;
    margin-left: 34px;
    gap: 20px;
}

#what button {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
    border: none;
    padding: 10px 25px;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#what section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#what article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
}

#what article div {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 50px 0px 0px 50px;
    background: rgba(139, 72, 191, 0.30);
    gap: 8px;
}

#what h3 {
    display: flex;
    align-items: flex-start;
    color: #1E1E26;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
}

#what p {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    color: #B3B2B7;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%;
    /* 25.523px */
    letter-spacing: -0.163px;
}

/* section */
/*section-2*/


/* Media queries */
@media (min-width: 768px) {

    /* Header */
    header {
        padding: 65px 165px;
    }

    #icon-hamburger {
        display: none;
    }

    #nav-top {
        display: flex;
    }

    #contact-header {
        display: flex;
    }

    /* Header */

    /* Section-1 */
    #frame-33 {
        flex-direction: row;
        padding-top: 86px;
        padding-right: 170px;
        padding-left: 180px;
    }

    #padel-intro {
        max-width: 540px;
        max-height: 461px;
        width: 100%;
    }

    /* Section-1 */

    /* Section-2 */
    /* header */
    #header-section2 {
        flex-direction: row;
        align-items: center;
        background-color: #8B48BF;
        gap: 100px;
        padding: 40px 20px;
    }

    #header-section2 h2,
    #header-section2 p {
        width: 450px;
    }

    #what {
        display: flex;
        width: 1440px;
        padding: 40px 0px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    #what article {
        display: flex;
        width: 553px;
        align-items: flex-start;
        gap: 18px;
    }

    #what section {
        flex-direction: row;
        gap: 50px;
    }

    #what article div {
        background-color: white;
        gap: 23px;
    }

    #what p {
        padding-left: 100px;
    }
}