/****** General ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  src: url(../fonts/BeVietnamPro-Regular.ttf);
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-weight: 500;
  src: url(../fonts/BeVietnamPro-Medium.ttf);
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-weight: 700;
  src: url(../fonts/BeVietnamPro-Bold.ttf);
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

ul {
  list-style: none;
}

button {
  /* ya no hay botones? */
  appearance: none;
  background: none;
  border: none;
  /* cursor: pointer; */
  /* font-family: 'Be Vietnam Pro', sans-serif; */
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  /* font-family: 'Be Vietnam Pro', sans-serif; */
}


.btn-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
  width: 134px;
  height: 44px;
  background-color: #8B48BF;
  font-weight: 500;
  font-size: 13.181px;
  box-shadow: 0 7px #999;
}

.btn-contact:hover {
  background-color: rgba(139, 72, 191, 0.70);
  transition-property: background-color;
}

.btn-contact:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px)
}

/****** Header - 480px ******/
/* .header {
  position: fixed;
  z-index: 1;
  background-color: white;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 56px 64px;
  gap: 28px;
  flex-wrap: wrap;
}

.logo-header {
  width: 107.684px;
  height: 25px;
}

.logo-header:hover {
  transform: scale(115%);
  transition-property: transform;
}

#icon-hamburger:hover {
  transform: scale(115%);
}

#nav-top,
.btn-contact-hide {
  display: none;
}


/****** Main Content - 480 ******/
.live {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* es necesario? */
  align-items: center;
  gap: 100px;
  margin: 40px;
}

#padel-intro-img {
  max-width: 400px;
  max-height: 341.533px;
  width: 100%;
  height: 100%;
}

.live-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 28px;
  max-width: 400px;
  justify-content: center;
  /* es necesario? */
}

.live h2 {
  color: #232851;
  font-weight: 700;
  text-align: right;
  font-size: 50px;
  line-height: 114.6%;
  letter-spacing: -1.75px;
}

.live p {
  text-align: right;
  font-weight: 500;
  font-size: 16.558px;
  line-height: 157.1%;
}

.what-header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 20px;
  background: #3CDDF3;
  justify-content: center;
  align-items: flex-start;
}

.what-header h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 114.6%;
  color: white;
  max-width: 450px;
}

.what-header p {
  font-weight: 500;
  line-height: 151.1%;
  color: white;
  max-width: 450px;
}

.what-list {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: flex-start; */
  gap: 20px;
  margin: 65px 0px 58px 34px;
}

.what-list article {
  display: flex;
  flex-direction: column;
  gap: 21px;
  max-width: 446px;
  /* justify-content: center;
  align-items: flex-start; */
}

.what-list div {
  display: flex;
  /* align-items: center; */
  align-self: stretch;
  /* es necesario? */
  gap: 8px;
  border-radius: 50px 0px 0px 50px;
  background: rgba(139, 72, 191, 0.30);
}

.what-list-num {
  color: white;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: #8B48BF;
}

.what-list-sub {
  color: #1E1E26;
  font-weight: 700;
  letter-spacing: -0.24px;
  padding: 10px;
}

.what-list p {
  padding: 10px;
  color: #B3B2B7;
  font-size: 16.298px;
  font-weight: 500;
  line-height: 156.6%;
  letter-spacing: -0.163px;
}


/**** Media Queries ****/
@media (min-width: 481px) {
  /* .header {
    position: fixed;
    margin: -270px auto;
    background-color: white;
  } */

  .header {
    margin: 0;
    padding: 65px 165px;
    /* justify-content: space-around; */
    gap: 28px 10px;
  }

  #icon-hamburger {
    display: none;
  }

  #nav-top,
  .btn-contact-hide {
    display: flex;
  }

  #nav-top ul {
    display: flex;
    justify-content: center;
    /* space-around */
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
  }

  #nav-top a {
    color: #1E1E26;
    font-weight: 500;
    font-size: 13px;
    line-height: 176.1%;
  }

  #nav-top a:hover {
    color: rgba(36, 46, 82, 0.60);
    font-weight: 700;
  }

  .live {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 86px 170px 95.93px 180px;
  }

  .live img {
    max-height: 461.07px;
    max-width: 540px;
    height: 100%;
    width: 100%;
  }

  .live-content {
    max-width: 450px;
  }

  .what-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 100px;
    padding: 40px 20px;
    background-color: #8B48BF;
  }

  .what-list {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 58px;
    background-color: rgb(249, 249, 249);
    gap: 24px 50px;
    justify-content: center;
  }

  .what-list article {
    gap: 18px;
    max-width: 553px;
  }

  .what-list div {
    gap: 23px;
    background-color: rgb(249, 249, 249);
  }

  .what-list-sub {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .what-list p {
    padding: 0;
    padding-left: 97px;
  }
}